.session-card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    justify-content: center;
}

.session-card-container .session-card:nth-child(n) .session-card-front {
    background-color: #2f2d2e;
}
.session-card-container .session-card:nth-child(n) .session-card-back {
    background-color: #2f2d2e;
}
.session-card-container .session-card:nth-child(n + 1) .session-card-front {
    background-color: #777da7;
}
.session-card-container .session-card:nth-child(n + 1) .session-card-back {
    background-color: #777da7;
}
.session-card-container .session-card:nth-child(2n) .session-card-front {
    background-color: #d72483;
}
.session-card-container .session-card:nth-child(2n) .session-card-back {
    background-color: #d72483;
}
