.external-add-mark-page-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.external-add-mark-page-card-container .mark-card {
    height: auto;
    width: 100%;
    min-width: 250px;
    min-height: 170px;
    background-color: #fff;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* border: 1px solid #00000015; */
    background: linear-gradient(90deg, #32aa66, #1b7944);
    transition: all 0.3s ease-in;
}
.external-add-mark-page-card-container .mark-card:hover {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.34);
    background: linear-gradient(-90deg, #32aa66, #1b7944);
}
.external-add-mark-page-card-container .mark-card > h3 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: calc(1.2rem + 0.5vw);
    color: #fff;
}
